* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Nanum Gothic Coding", monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ece8e1;
}

.sign-up {
  background-image: url("https://lolstatic-a.akamaihd.net/rso-login-page/3.2.16/assets/valorant_desktop_background_2x.jpg");
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.table-agents {
  width: 60%;
}
.table-agents th {
  font-size: 2rem;
  font-weight: bold;
  padding: 16px;
}
.table-agents td {
  font-size: 1rem;
  padding: 16px;
}
.table-agents ol {
  list-style: none;
}

.nav__list {
  margin-left: 20px;
  display: inline-block;
  margin-top: inherit;
  margin-bottom: inherit;
}
.nav__list li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 5px 5px 5px 25px;
}
.nav__list a {
  text-decoration: none;
}
.nav__list a:link, .nav__list a:visited {
  color: #f5f5f5;
}

.navbar__custom {
  background-image: linear-gradient(to right, #000000, #b81818);
  padding: 15px;
  width: auto;
  grid-area: nav;
}

.logo {
  display: inline-block;
}
.logo img {
  width: 30px;
  display: inline-block;
}

footer {
  margin-top: auto;
  background-color: #000000;
  text-align: center;
  padding: 10px;
}
footer a {
  text-decoration: none;
  padding: 10px;
}

.custom-form {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 12px 20px;
  display: inline-block;
  text-align: left;
}
.custom-form input {
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}
.custom-form textarea {
  resize: none;
}
.custom-form label {
  font-weight: 600;
}
.custom-form .form--submit {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.custom-form .form--reset {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.custom-form .form--title {
  padding: 20px 0px;
}

.index__video video {
  max-width: 100%;
}
.index__video .centered {
  position: absolute;
  top: 70vw;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rubik Glitch", cursive;
  font-size: 20px;
  color: #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "content" "footer";
  grid-template-columns: 100%;
}

.main__head {
  grid-area: header;
}

.custom-container {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.card-container {
  margin: 0 auto;
  padding: 20px;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: center;
  padding: 30px;
}

.main__footer {
  grid-area: footer;
}

.card {
  margin: 20px;
}

.row {
  --bs-gutter-x: 0;
}

.card__custom {
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  border-radius: 20px;
  padding-bottom: 10px;
  margin: 10px;
}
.card__custom img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.card__custom .container {
  padding: 2px 16px;
}

.card__title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  color: #000000;
}

.weapon__summary__card {
  width: 100%;
  border: 0.1rem solid #ece8e1;
}

.module__weapon {
  margin: 1rem 0 1rem -4%;
  padding: 0 3%;
  width: 100%;
}

.module__weapon:hover {
  transform: scale(1.5);
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
  text-align: left;
  margin-bottom: 20px;
}
.hero p {
  font-size: 16px;
  font-weight: 300;
}
.hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}
.hero .card {
  box-shadow: 11px 7px 16px #fff;
  border: 0;
  text-align: center;
}
.hero .icon {
  width: 90%;
  margin-bottom: 20px;
}

button {
  max-width: 50%;
  border-radius: 50px !important;
}

.hero-text-container {
  order: 1;
  margin-top: 25px;
}

.cards {
  margin: 0 auto;
}

.form-text-custom {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #fff;
}

.sign-up-form {
  margin-top: 50%;
}

.news-card {
  z-index: 10;
}
.news-card img:hover {
  transform: scale(1.5);
}

.news-button:hover span {
  display: none;
}

.news-button:hover:after {
  content: "Check the last changes";
}

.news-button:hover {
  background-color: #683aa4;
}

.align__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.jett-text {
  text-align: center;
}

.title__weapon {
  padding: 50px;
  font-family: "Rubik Glitch", cursive;
  text-decoration: underline;
  color: rgb(121, 29, 9);
}

@media only screen and (min-width: 768px) {
  .index__video {
    margin-bottom: 20px;
  }
  .index__video video {
    width: 100%;
  }
  .index__video .centered {
    font-size: 80px;
    top: 35vh;
  }

  .wrapper {
    min-height: 100%;
  }

  .custom-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: unset;
  }

  .index__video {
    display: inline-block;
  }

  .card__custom {
    display: inline-block;
    flex: 1;
  }

  .custom-form {
    width: 43%;
  }

  .hero-text-container {
    order: inherit;
    margin-top: inherit;
  }

  .transform__150 {
    transform: translate(0%, 50%);
  }

  .jett-text {
    text-align: unset;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    flex-direction: column;
  }

  .index__video {
    overflow: hidden;
    width: 100%;
  }
  .index__video .centered {
    font-size: 80px;
    top: 40vw;
  }

  .custom-container {
    justify-content: unset;
  }

  .card__custom {
    flex: unset;
    margin: 0 auto 20px auto;
  }

  .custom-form {
    width: 32%;
  }

  .custom-form textarea {
    width: 100%;
  }

  .hero-text-container {
    order: inherit;
    margin-top: inherit;
  }

  .transform__150 {
    transform: translate(0%, 100%);
  }

  .jett-text {
    text-align: unset;
  }

  .container__card {
    margin: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .index__video {
    height: 49rem;
  }
  .index__video .centered {
    font-size: 80px;
    top: 25vw;
  }

  .transform__150 {
    transform: translate(0%, 150%);
  }

  .align__image {
    object-fit: cover;
    height: 100%;
    width: unset;
  }

  .jett-text {
    text-align: unset;
  }
}
.logo-valorant {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/*# sourceMappingURL=styles.scss.map */

/*# sourceMappingURL=styles.css.map */
