*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  font-family: 'Nanum Gothic Coding', monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ece8e1;
}
.table-agents{
  width: 60%;
}
.table-agents th{
  font-size: 2rem;
  font-weight: bold;
  padding: 16px;
}
.table-agents td{
  font-size: 1rem;
  padding: 16px;
}
.table-agents ol{
  list-style: none;
}
.nav__list li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 5px 5px 5px 25px;
}
.nav__list a{
  text-decoration: none;
}

.nav__list{
  margin-left: 20px;
  display: inline-block;
}

.nav__list a:link, a:visited {
  color: whitesmoke;
}

.navbar {
  background-color: rgb(17, 17, 17);
  padding: 15px;
  width: auto;
  grid-area: nav;
}
.logo {
  display: inline-block;
}
.logo img{
  width: 30px;
  display: inline-block;
}

footer {
  margin-top: auto;
  background-color: rgb(17, 17, 17);
  text-align: center;
  padding: 10px;
}
footer a{
  text-decoration: none;
  padding: 10px;
}

form{
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 12px 20px;
  display: inline-block;
  text-align: left;
}

form input{
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}

form textarea {
  resize: none;
}

form label {
  font-weight: 600;
}

form .form--submit {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

form .form--reset {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

form .form--title {
  padding: 20px 0px;
}

.index__video video{
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
  grid-template-columns: 100%;
}

.main__head {
  grid-area: header;
}

.container {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: center;
  padding: 30px;
}

.main__footer {
  grid-area: footer;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 20px;
  padding-bottom: 10px;
  margin: 10px;
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card .container {
  padding: 2px 16px;
}

@media only screen and (min-width: 768px) {
  .index__video {
    margin-bottom: 20px;
  }

  .index__video video{
    width: 100%;
  }

  .wrapper {
   min-height: 100%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: unset;
  }

  .index__video {
    display: inline-block;
  }

  .card{
    display: inline-block;
    flex: 1;
  }
  
  form {
    width: 43%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    flex-direction: column;
  }

  .index__video {
    height: 49rem;
    overflow: hidden;
    width: 100%;
  }

  .container {
    justify-content: unset;
  }

  .card {
    flex: unset;
    margin: 0 auto 20px auto;
  }

  form {
    width: 32%;
  }

  form textarea{
    width: 100%;
  }
}