@mixin cards-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

$colors: (
  white: #fff,
  grey:#ece8e1,
  white-smoke: #f5f5f5,
  black: #000000,
  red: #b81818,
  black1: #111111,
  grey2: #ccc,
  green: #4CAF50,
  yellow: #ffc107,
  violet: #683aa4,
);

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Nanum Gothic Coding", monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: map-get($colors, grey);
}

.sign-up {
  background-image: url("https://lolstatic-a.akamaihd.net/rso-login-page/3.2.16/assets/valorant_desktop_background_2x.jpg");
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: map-get($colors, white);
}

.table-agents {
  width: 60%;

  th {
  font-size: 2rem;
  font-weight: bold;
  padding: 16px;
  }

  td {
    font-size: 1rem;
    padding: 16px;
  }

  ol {
    list-style: none;
  }
  
}

.nav__list {
  margin-left: 20px;
  display: inline-block;
  margin-top: inherit;
  margin-bottom: inherit;

  li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 5px 5px 5px 25px;
  }

  a {
    text-decoration: none;
  }
  
  a:link, a:visited {
    color: map-get($colors, white-smoke);
  }
}

.navbar__custom {
  background-image: linear-gradient(to right, map-get($colors, black), map-get($colors, red));
  padding: 15px;
  width: auto;
  grid-area: nav;
}

.logo {
  display: inline-block;

  img {
    width: 30px;
    display: inline-block;
  }
}

footer {
  margin-top: auto;
  background-color: map-get($colors, black);
  text-align: center;
  padding: 10px;

  a {
    text-decoration: none;
    padding: 10px;
  }
}

.custom-form {
  border: 2px solid map-get($colors, white);
  border-radius: 20px;
  padding: 12px 20px;
  display: inline-block;
  text-align: left;

  input {
    border: 1px solid map-get($colors, white);
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
  }

  textarea {
    resize: none;
  }

  label {
    font-weight: 600;
  }

  .form--submit {
    background-color: map-get($colors, green);
    border-color: map-get($colors, green);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }

  .form--reset {
    background-color: map-get($colors, yellow);
    border-color: map-get($colors, yellow);
    color: map-get($colors, white);
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .form--title {
    padding: 20px 0px;
  }
}

.index__video video {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "content" "footer";
  grid-template-columns: 100%;
}

.main__head {
  grid-area: header;
}

.container {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: center;
  padding: 30px;
}

.main__footer {
  grid-area: footer;
}

.card__custom {
  box-shadow: 0 4px 8px 0 map-get($colors, black);
  transition: 0.3s;
  border-radius: 20px;
  padding-bottom: 10px;
  margin: 10px;

  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .container {
    padding: 2px 16px;
  }
}

.card__title {
  @include cards-title;
  color: map-get($colors, black);
}

.weapon__summary__card {
  width: 100%;
  border: 0.1rem solid map-get($colors, grey);
}

.module__weapon {
  margin: 1rem 0 1rem -4%;
  padding: 0 3%;
  width: 100%;
}

.module__weapon:hover {
  transform: scale(1.5);
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: map-get($colors, violet);
    text-align: left;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
  }

  .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .img-col {
    justify-content: flex-end;
    margin-top: 100px;
  }

  .card {
    box-shadow: 11px 7px 16px map-get($colors, white);
    border: 0;
    text-align: center;
  }

  .icon {
    width: 90%;
    margin-bottom: 20px;
  }
}

button {
  max-width: 50%;
  border-radius: 50px !important;
}

.hero-text-container {
  order: 1;
  margin-top: 25px;
}

.cards {
  margin: 0 auto;
}

.form-text-custom {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: map-get($colors, white);
}

.sign-up-form {
  margin-top: 50%;
}

.news-card {
  z-index: 10;

  img:hover {
    transform: scale(1.5);
  }  
}

.news-button:hover span {
  display: none;
}

.news-button:hover:after {
  content: "Check the last changes";
}

.news-button:hover {
  background-color: map-get($colors, violet);
}

@media only screen and (min-width: 768px) {
  .index__video {
    margin-bottom: 20px;
  }

  .index__video video {
    width: 100%;
  }

  .wrapper {
    min-height: 100%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: unset;
  }

  .index__video {
    display: inline-block;
  }

  .card__custom {
    display: inline-block;
    flex: 1;
  }

  .custom-form {
    width: 43%;
  }

  .hero-text-container {
    order: inherit;
    margin-top: inherit;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    flex-direction: column;
  }

  .index__video {
    height: 49rem;
    overflow: hidden;
    width: 100%;
  }

  .container {
    justify-content: unset;
  }

  .card__custom {
    flex: unset;
    margin: 0 auto 20px auto;
  }

  .custom-form {
    width: 32%;
  }

  .custom-form textarea {
    width: 100%;
  }

  .hero-text-container {
    order: inherit;
    margin-top: inherit;
  }
}
.logo-valorant {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=styles.scss.map */
